.App {
  padding: 2rem;
  display: flex;
  justify-content: center;
}

table {
  border: 2px solid black;
}
thead {
  border: 2px solid black;
}

th {
  border: 2px solid black;
}

tr {
  border-top: 2px solid black;
}

.availability {
  text-align: center;
}
